/*
=======================
 ANIMATIONS
 ======================
*/


/*
=======================
 -- BUTTONS
 ======================
*/

@keyframes introButton {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.introButton {
  animation: introButton 250ms linear 500ms 1 forwards;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    bottom: -100%;
  }
  75% {
    bottom: 5px;
  }
  100% {
    bottom: 0%;
  }
}

.fadeInUp {
  animation: fadeInUp 650ms linear 1000ms 1 forwards;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}


/*
=======================
 ANIMATIONS
 ======================
*/

@keyframes searchIcon {
  0% {
    left: -100%;
    opacity: 0;
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    left: 100%;
    transform: scale(1);
    opacity: 1;
  }
}

.searchIcon-animation {
  animation: searchIcon 650ms linear 1ms 1 forwards;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@keyframes searchSvg {
  0% {
    left: -100%;
    opacity: 0;
  }
  75% {
    transform: scale(1.5);
    fill: #f0971a;
  }
  76% {}
  77% {}
  78% {}
  100% {
    transform: scale(1);
    opacity: 1;
    fill: #8e8e93;
  }
}

.searchSvg-animation {
  animation: searchSvg 650ms linear 1000ms 1 forwards;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@keyframes loadedSearchZoom {
  0% {
    transform: scale(.8);
  }
  100% {
    transform: scale(1.1);
  }
}

.loadedSearchZoom {
  animation: loadedSearchZoom 750ms linear 1ms infinite alternate;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@keyframes linkAnimation {
  0% {
    box-shadow: inset 0rem 0 0 #f0971a;
  }
  50% {
    box-shadow: inset .4rem 0 0 #f0971a;
  }
  100% {
    box-shadow: inset 0rem 0 0 #f0971a;
  }
}

.linkAnimation {
  animation: linkAnimation 1050ms linear 1ms infinite forwards;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
